.btn {
    padding: 0.6rem 1rem;
    border-radius: var(--radius-md);
    font-size: var(--font-size-md);
    cursor: pointer;
    overflow: visible;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn.primary {
    background-color: var(--color-primary);
    color: var(--color-primary-fg);
    border: none;
  }
  .btn.primary:hover {
    background-color: var(--color-primary-hover);
    box-shadow: var(--elevation-primary-md);
  }
  .btn.primary:focus {
    /*background-color: #144FFF;*/
    box-shadow: var(--elevation-primary-md);
  }
  .btn.disabled.primary:hover {
    color: var(--color-primary-fg);
    background-color: var(--color-primary);
    box-shadow: none;
  }

.btn.secondary {
    background-color: var(--color-secondary);
    color: var(--color-secondary-fg);
    border: none;
  }
  
  .btn.secondary:hover {
    background-color: var(--color-secondary-hover);
    box-shadow: var(--elevation-md);
  }
  
  .btn.secondary:focus {
    box-shadow: var(--elevation-md);
  }
  .btn.disabled.secondary:hover {
    color: var(--color-secondary-fg);
    background-color: var(--color-secondary);
    box-shadow: none;
  }

.btn.tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-fg);
    border: 1px solid var(--transparent300);
  }

    .btn.tertiary:hover {
        color: var(--color-tertiary-hover-fg);
        background-color: var(--color-tertiary-hover);
        box-shadow: var(--elevation-md);
    }

    .btn.tertiary:focus {   
        box-shadow:  var(--elevation-md);
    }
    .btn.disabled.tertiary:hover {
        color: var(--color-tertiary-fg);
        background-color: var(--color-tertiary);
        box-shadow: none;
    }

.btn.transparent {
    background-color: var(--color-transparent);
    color: var(--color-transparent-fg);
    border: none;
  }
  
  .btn.transparent:hover {
    color: var(--color-transparent-hover-fg);
    background-color: var(--color-transparent-hover);
    box-shadow: var(--elevation-md);
  }
  .btn.disabled.transparent:hover {
    color: var(--color-transparent-fg);
    background-color: transparent;
    box-shadow: none;
  }
  
  .btn.transparent:focus {
    box-shadow: var(--elevation-md);
  }

.btn.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    box-shadow: none;
}