.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
    flex-direction: row;
    align-items: center;
  gap: 160px;
  background-color: var(--GT-color-bg-glass);
  padding: 8px 40px;
  border-radius: 100px;
  border: 1px solid var(--GT-color-border-soft);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}
.links-wrapper {
  display: flex;
  flex-direction: row;
    align-items: center;
  gap: 48px;
}
.navbar-link {
display: flex;
flex-direction: row;
padding: 12px 16px;
gap: 12px;
color: var(--GT-color-fg-secondary);
border-radius: var(--GT-radius-xl);
text-decoration: none;
}
.navbar-link:hover {
  background-color: var(--GT-transparent400);
}
.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: var(--GT-color-fg-main);
}